//- @pugdoc
  name: template
  description: template for pages with highlighted last menu item

doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

  include ../components/_head.pug

  body

    include ../components/_header--highlighting.pug

    main
      block content

    include ../components/_footer.pug
    
    script(src='js/script.min.js')

