extends partials/templates/_template.pug

block content
  +b.SECTION.page--404

    // Not found
    +b.SECTION.not-found
      .container
        +e.inner
          +e.H1.title 404
          +e.text 
            div К сожалению, 
            div данный объект не найден
    // Services
    include partials/components/_services--excerpt.pug 
    // Cert form
    include partials/components/_cert-form.pug
    // Questions section
    include partials/components/_questions-section.pug
    // Contacts
    include partials/components/_contacts.pug




