extends partials/templates/_template.pug

block content
  +b.SECTION.page--form
    // Breadcrumbs
    +b.SECTION.breadcrumbs
      +e.inner.container
        a(href="index.html") Сертификационный центр Ростест
        ='>'
        span Узнать стоимость
    // Cert form
    include partials/components/_cert-form.pug
    // Advantages
    include partials/components/_advantages.pug
    // How we work
    include partials/components/_how-we-work.pug
    // Questions section
    include partials/components/_questions-section.pug
    // Contacts
    include partials/components/_contacts.pug


