extends partials/templates/_template.pug

block content
  +b.SECTION.page--questions
    // Breadcrumbs
    +b.SECTION.breadcrumbs
      +e.inner.container
        a(href="index.html") Сертификационный центр Ростест
        ='>'
        span Вопросы и ответы
    // Questions
    include partials/components/_questions.pug 
    // Questions section
    include partials/components/_questions-section.pug
    // Contacts section
    include partials/components/_contacts-section.pug


