extends partials/templates/_template.pug

block content
  +b.SECTION.page--about
    // Breadcrumbs
    +b.SECTION.breadcrumbs
      +e.inner.container
        a(href="index.html") Сертификационный центр Ростест
        ='>'
        span О компании
    // Content
    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
      +e.inner.container
        +e.H1.title(itemprop="headline") О компании (h1)
        +e.block
          +e.img
            img(src='img/cert1.jpg', alt='cert1', title='cert1', width='200')          
          +e.text(itemprop="articleBody")
            p Всероссийский Центр Сертификации «МЕЖРЕГИОНТЕСТ» - ведущий многопрофильный общероссийский центр сертификации, основанный в России в 1992 году. Практикуя деятельность более 24 лет в области сертификации и декларирования продукции и услуг, наш центр зарекомендовал себя как лидирующий орган по сертификации, обладающий также представительствами в российских регионах и за рубежом и имеющий полную государственную аккредитацию на весь перечень продукции общероссийскому классификатору, а также внесен в список комиссии Таможенного Союза и опубликован на официальном сайте РОСАККРЕДИТАЦИИ РФ.
        +e.P.citation(itemprop="citation") Всероссийский Центр Сертификации «МЕЖРЕГИОНТЕСТ» - ведущий многопрофильный общероссийский центр сертификации.

        +e.content__text(itemprop="articleBody")
          p Всероссийский Центр Сертификации «МЕЖРЕГИОНТЕСТ» - ведущий многопрофильный общероссийский центр сертификации, основанный в России в 1992 году. Практикуя деятельность более 24 лет в области сертификации и декларирования продукции и услуг, наш центр зарекомендовал себя как лидирующий орган по сертификации, обладающий также представительствами в российских регионах и за рубежом и имеющий полную государственную аккредитацию на весь перечень продукции согласно общероссийскому классификатору, а также внесен в список комиссии Таможенного Союза и опубликован на официальном сайте РОСАККРЕДИТАЦИИ РФ.
          p Наш коллектив состоит из профессионалов, систематически подтверждающих и повышающих свою квалификацию. Эксперты по сертификации, являются членами государственных и международных ассоциаций, в том числе АЕВ (Ассоциации Европейского Бизнеса), что способствует созданию безупречной репутации во всем мире и получению высоких оценок нашей работы со стороны правительственных структур и представителей крупного бизнеса.
    // Advantages
    include partials/components/_advantages.pug
    // Reviews
    include partials/components/_reviews.pug
    // Questions section
    include partials/components/_questions-section.pug






