extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-question
    // Breadcrumbs
    +b.SECTION.breadcrumbs
      +e.inner.container
        a(href="index.html") Сертификационный центр Гортест
        ='>'
        a(href="page-questions.html") Вопросы и ответы
        ='>'
        span Сертификация картонных конструкций

    // Content
    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
      .container
        +b.ARTICLE.question
          +e.H1.title(itemprop="headline") Сертификация картонных конструкций (h1)
          +e.ask(itemprop="articleSection", itemscope, itemtype="http://schema.org/Question")
            +e.person
              +e.name(itemprop="author") Дарья  
              | (Санкт-Петербург и Ленинградская область, 1 ноября 2016) 
            +e.text(itemprop="citation")
              p Добрый день!
              p Интересует следующий вопрос. Хотим с мужем открыть свой бизнес по изготовлению и продаже картонных конструкций для животных в связи с этим интересуюсь:
              ol
                li Какие требования предъявляются к изготовлению данного объекта?
                li Нужно ли согласовывать деятельность с Роспотребнадзором?
                li Какие сопроводительные документы необходимы для продажи объекта?
                li Стоимость Ваших услуг за организацию данных формальностей?
          +e.answer(itemprop="articleSection", itemscope, itemtype="http://schema.org/Answer")
            +e.person(itemprop="author") Анна, +7 (812) 633-05-16, otdel@rostest.net
            +e.text(itemprop="citation")
              p Дарья, данная продукция не подлежит сертификации. Могу предложить оформить отказное письмо и/или добровольный сертификат.
              p Деятельность с Роспотребнадзором согласовывать не нужно.
          +e.A.link-back(href="page-questions.html") Назад                  




