.contacts-section{
  color: $dark-grey;
  &__line{
    margin: 10px 0;
    @include mq($from:xs, $until:lg){
      margin: 0 0 10px;
    }
  }
  &__link{
    color: $dark-grey;
  }
  .icon{
    position: relative;
    margin-left: 30px;
    &:before{
      position: absolute;
      left: -15px;
      bottom: -2px;
      color: $blue;
      font-size: 1.5em;
      transform: translateX(-50%);
    }
  }

  &--map{
    margin-left: -15px;
    margin-right: -15px;
    padding: 25px 30px;
    background-color: $green;
    color: $text-color-white;
    @include mq($from:xs, $until:lg){
      // margin-bottom: 40px;
    }
    @include mq($from:xs, $until:md){
      padding: 10px;
    }
    .contacts-section__inner{
      max-width: 400px;
      @include mq($from:xs, $until:lg){
        max-width: initial;
      }
    }
    .contacts-section__line{
      margin: 20px 0;
      padding: 0 30px;
    }
    .contacts-section__link{
      color: $text-color-white;
    }
  }
  &--footer{
    color: $text-color-white;
    .contacts-section__link{
      color: $green;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }    
  }
}

