.faq{
  margin-top: 45px;
  margin-bottom: 60px;

  &__title{
    text-align: center;
    font-size: $font-size-title;
    @include font-family('Open Sans Light', normal, normal);
    margin: 0 0 20px;
  }
  &__block{
    &:last-of-type{
      .faq__item{
        border-bottom: 1px solid $lighter-grey;
      }
    }
  }
  &__ask{
    margin: 0;
    padding: 20px 0;
    font-size: $font-size-faq-title;
    @include font-family('Open Sans Light', normal, normal);
    border-top: 1px solid $lighter-grey;
    &:hover, &:focus{
      cursor: pointer;
    }

    @include mq($from:xs, $until:md){
      font-size: $font-size;
    }
  }
  &__answer{
    border-top: 1px solid $lighter-grey;
    display: none;
    padding: 20px 0;
    @include font-family('Open Sans Light', normal, normal);
  }

  &__icon{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 35px;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 20px;
      background-color: $green;
    }
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      top: 35px;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 5px;
      background-color: $green;
    }

    &--active{
      background-color: red;
      &:before{
        visibility: hidden;
        @include transition();
      }
    }
  }
  &__btn{
    margin-top: 20px;
    text-align: center;
  }
}

