.pagination{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;

  &__number{
    display: inline-block;
    padding: 12px;
    margin: 0 3px;
    border: 1px solid $light-grey;
    border-radius: 3px;
    color: $text-color;
    &:hover, &:focus, &:active{
      color: $green;
    }
    &--current{
      background-color: $green;
      color: $text-color-white;
      &:hover, &:focus, &:active{
        color: $text-color-white;
      }
    }
  } 
  &__arrow{
    display: inline-block;
    padding: 12px 40px;
    margin: 0 3px;
    border: 1px solid $light-grey;
    border-radius: 3px;
    background-image: url(../img/arrow-pagination.png);
    background-repeat: no-repeat;
    background-position: center center;
    &--prev{
      transform: rotate(180deg);
    }
  }
}
