.sidebar{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-left: 1px solid $lighter-grey;
  background-color: $white;
  @include mq($from:xs, $until:lg){
    display: none;
  } 
}

.social-links{
  padding-left: 0;
  margin: 10px 0 0;
  list-style-type: none;
  &__item{
    padding: 15px 10px;
  }
  &__link{
    display: block;
    margin: 0 auto;
    &--vk{
      @include sprite($s-social-vk);      
    }
    &--fb{
      @include sprite($s-social-fb);      
    }
    &--rss{
      @include sprite($s-social-rss);      
    }
    &--tw{
      @include sprite($s-social-tw);      
    }
    &--search{
      @include sprite($s-search);      
    }
    &--price{
      transform: rotate(-90deg);
      width: 100%;
      white-space: nowrap;
      display: inline-block;
      direction: rtl;
      color: $orange;
    }
    &:hover, &:focus {
      text-decoration: none;
    }  
  }
}
.up{
  // display: none;
  position: fixed;
  display: inline-block;
  @include sprite($s-up);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}