.btn{
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 3px; 
  color: $text-color-white;
  @include font-family('Open Sans Semibold', normal, normal);  
  font-size: $font-size-btn; 
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0;
  // &:hover, &:focus, &:active{
  //   color: $text-color-white;
  //   text-decoration: none;
  //   background-color: $orange-btn-hover;
  // }

  &--blue{
    background-color: $blue;
  }
  &--red{
    background-color: $red;
  }
  &--form{
    width: 100%;
  } 
  &--more{
    padding: 15px 55px;
  }
  &--search{
    border-radius: 0 3px 3px 0;
    background-color: $blue;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: baseline;
      margin-right: 5px;
      margin-bottom: -2px;
      @include sprite($s-search);
    }
  }

  // &--404{
  //   background-color: $green;
  //   text-transform: none;
  // }
  // &--more{
  //   border: 1px solid $dark-violet;
  //   background-color: $white;
  //   color: $dark-violet;
  //   @include font-family('Open Sans Regular', normal, normal); 
  //   font-size: $font-size-small;
  //   &:hover, &:focus, &:active{
  //     color: $dark-violet;
  //     text-decoration: underline;
  //     background-color: $white;
  //   }
  // } 
  // &--faq{
  //   border: 1px solid $dark-violet;
  //   background-color: $white;
  //   color: $dark-violet;
  //   @include font-family('Open Sans Regular', normal, normal); 
  //   font-size: $font-size-small;
  //   &:hover, &:focus, &:active{
  //     color: $white;
  //     text-decoration: none;
  //     background-color: $dark-violet;
  //   }    
  // }
  // &--footer{
  //   font-size: $font-size;
  // }
}

