.btn{
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 3px; 
  color: $text-color-white;
  @include font-family('Open Sans Semibold', normal, normal);  
  font-size: $font-size-btn; 
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0;

  &--blue{
    background-color: $blue;
  }
  &--red{
    background-color: $red;
  }
  &--form{
    width: 100%;
  } 
  &--application{
    @include font-family('Open Sans Extrabold', normal, normal);
  }   
  &--more{
    padding: 15px 55px;
  }
  &--search{
    border-radius: 0 3px 3px 0;
    background-color: $blue;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: baseline;
      margin-right: 5px;
      margin-bottom: -2px;
      @include sprite($s-search);
    }
  }

}

