.guide{
  background-color: $dark-cyan;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon{
    background-image: url(../img/guide.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 276px;
    height: 168px;
    margin: 40px;
  }

  &__wrapper{
    padding: 90px 40px 100px; 
    max-width: 45%;   
  }
  &__title{
    font-size: $font-size-title;
    @include font-family('Open Sans Bold', normal, normal);
    color: $text-color-white;
    margin-top: 0;
    margin-bottom: 30px;    
  }
}

