.page{

  &--single-branch {
    .content__inner{
      padding-top: 50px;
    }
    .content__title{
      margin-bottom: 35px;
    }
  }
  &--single-news {
    .content__inner{
      padding-top: 60px;
    }
    .content__img{
      margin-right: 50px;
      margin-bottom: 40px;
    }
    .content__title{
      margin-top: 10px;
      font-size: $font-size-biggest;
    }
  }
  &--single-service {
    .content__inner{
      padding-top: 90px;
    }
    .content__title{
      margin-bottom: 25px;
    }
  }
  &--services{
    .services{
      border-bottom: 2px solid $border-grey;
    }
    .services__types{
      margin-top: 50px;
    }
    .services-type__title{
      font-size: $font-size-bigger;
    }
    .services-type__list{
      font-size: $font-size;      
    }
  } 
  &--404{
    .services{
      border-bottom: 2px solid $border-grey;
    }
    .services__types{
      margin-top: 85px;
    }
  } 
  &--about{
    .content__inner{
      padding-top: 25px;
    }
  }
}

