.reviews{
  background-color: $dark-cyan;
  padding-top: 70px;
  padding-bottom: 85px;

  &__title{
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-title;
    color: $text-color-white;
    margin: 0 0 -10px;   
  }
  &__gallery{
    margin: 0 -20px;
  }
  .slick-prev{
    left: -80px;
  }
  .slick-next{
    right: -80px;
  }
}

.review-slide{
  margin: 45px 20px;
  position: relative;
  @include font-family('Open Sans Italic', normal, normal);
  color: $text-grey;
  background-color: $white;
  position: relative;
  line-height: 1.6;
  padding: 20px 20px 20px 70px;
  border-radius: 5px;
  &:before{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 60px;
    transform: skewY(30deg);
    height: 50px;
    width: 30px;
    background-color: $white;
    z-index: -1;
  }

  &__img{
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    left: -20px;
    width: 70px;
    height: 100px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__author{
    position: absolute;
    bottom: -45px;
    right: 0;
    @include font-family('Open Sans Semibold', normal, normal);
    color: $text-blue;
    text-align: right;
  }
}



// .review-item{
//   display: flex;
//   &--third{
//     @include mq($from:xs, $until:xl){
//       display: none;
//     }    
//   }
//   &--second{
//     @include mq($from:xs, $until:md){
//       display: none;
//     }    
//   }

//   &__img{
//     flex: 0 0 90px;
//     width: 90px;
//     height: 90px;
//     img{
//       width: 100%;
//       height: 100%;
//       display: block;
//       object-fit: cover;
//       border-radius: 50%;
//     }
//   }
//   &__inner{
//     padding-left: 20px;
//   }
//   &__title{
//     font-size: $font-size-faq-title;
//     @include font-family('Open Sans Light', normal, normal);
//     margin: 0 0 10px;    
//   }
//   &__text{
//     position: relative;
//     background-color: $green;
//     color: $text-color-white;
//     font-size: $font-size-small;
//     line-height: 1.71;
//     @include font-family('Open Sans Light', normal, normal);
//     border-radius: 20px;
//     padding: 15px;
//     &:before{
//       content: '';
//       position: absolute;
//       top: 0;
//       left: -40px;
//       height: 30px;
//       width: 50px;
//       border-radius: 50%;
//       background-color: $green;
//       clip: rect(auto, auto, 15px, 25px)
//     }
//     &:after{
//       content: '';
//       position: absolute;
//       top: 0;
//       left: -30px;
//       height: 30px;
//       width: 30px;
//       border-radius: 50%;
//       background-color: $white;
//       clip: rect(auto, auto, 15px, 15px)
//     }
//   }
// }
