- var application = [{name: 'application', title : 'Оформить заявку', button: 'Узнать стоимость', success: 'Ваша заявка отправлена'}] 
- var question = [{name: 'question', title : 'Задать вопрос', button: 'Задать вопрос', success: 'Ваш вопрос отправлен'}] 


mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      form(action='', method='')

        if item.name == 'application'
          if modal
            +e.H2.title Узнать стоимость и сроки оформления
          .form-group.field-name
            +e.INPUT.input(type='text', name='Имя', placeholder="Имя:")
            p.help-block Ошибка заполнения поля формы
          .form-group.field-tel.required
            +e.INPUT.input(type='tel', name='Телефон', placeholder="Телефон:")
            +e.description Для оперативной связи с вами
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email
            +e.INPUT.input(type='email', name='Email', placeholder="Email:")
            +e.description Для отправки таблиц с подробными расчетами
            p.help-block Ошибка заполнения поля формы
          .form-group.field-product
            +e.TEXTAREA.textarea(type='text', name='Ваш документ', placeholder="Ваш продукт")
            p.help-block Ошибка заполнения поля формы

        if item.name == 'question'
          .form-group.field-name
            +e.INPUT.input(type='text', name='Имя', placeholder="Имя:")
            p.help-block Ошибка заполнения поля формы
          .form-group.field-tel.required
            +e.INPUT.input(type='tel', name='Телефон', placeholder="Телефон:")
            +e.description Для оперативной связи
            p.help-block Ошибка заполнения поля формы
          .form-group.field-email
            +e.INPUT.input(type='email', name='Email', placeholder="Email:")
            +e.description Для отправки таблиц и расчетов
            p.help-block Ошибка заполнения поля формы
          .form-group.field-question
            +e.TEXTAREA.textarea(type='text', name='Вопрос', placeholder="Вопрос:")
            p.help-block Ошибка заполнения поля формы

        //- .form-group.field-country.required
        //-   +e.SELECT.select.country-list
        //-     option Россия
        //-     option Беларусь
        //-     option Казахстан
        //-     option Украина
        //-     option Азербайджан
        //-     option Армения    
        //-     option Грузия
        //-     option Молдавия

        //- .form-group.field-region.required
        //-   +e.SELECT.select.region-list
        //-     option Санкт-Петербург и Ленинградская область
        //-     option Москва и Московская область
        //-     option Новгородская область
        //-     option Псковская область
        //-     option Республика Карелия
        //-     option Мурманская область
        //-     option Калининградская область
        //-     option Вологодская область
        //-     option Тверская область

        .form-group
          if item.name == 'application'
            +b.BUTTON.btn--form.--application.--red(type='submit') #{item.button}
          if item.name == 'question'
            +b.BUTTON.btn--form.--question.--red(type='submit') #{item.button}
          p.help-block.help-block-success #{item.success}


