<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <!-- Head-->
  <head>
    <title>Rostest.net</title>
    <!-- Main Meta information-->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="Rostest.net">
    <meta name="author" content="">
    <!-- Meta Information-->
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russian">
    <meta name="msapplication-tooltip" content="Rostest.net">
    <meta name="msapplication-starturl" content="http://rostest.net">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- OpenGraph microformat-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rostest.net">
    <meta property="og:site_name" content="Rostest.net">
    <meta property="og:url" content="http://rostest.net">
    <meta property="og:description" content="Rostest.net">
    <meta property="og:image" content="">
    <!-- Twitter microformat-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="http://rostest.net">
    <meta name="twitter:creator" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="Rostest.net">
    <meta name="twitter:description" content="Rostest.net">
    <meta name="twitter:image" content="">
    <meta name="twitter:domain" content="http://rostest.net">
    <link rel="canonical" href="/">
    <link rel="image_src" href="#">
    <link rel="shortlink" href="#">
    <link type="text/plain" rel="author" href="humans.txt">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCbFBllrMkXPOoe1YbN3aXTYV0cesewVhc"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <!-- Logo-->
            <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
              <img src="img/logo.svg" alt="logo" title="logo" itemprop="logo">
            </a>
          </div>
          <!-- Slogan-->
          <div class="header__slogan">
            <h2 class="slogan">Единая государственная сертификация</h2>
          </div>
          <!-- Contacts-->
          <div class="city" itemscope itemtype="http://schema.org/ContactPoint">
            <div class="city__name-wrapper">
              <a class="city__name" href="#" itemprop="areaServed">Москва</a>
              <ul class="city__dropdown">
                <li class="city__item">
                  <a class="city__link" href="#">Москва</a>
                </li>
                <li class="city__item">
                  <a class="city__link" href="#">Санкт-Петербург</a>
                </li>
                <li class="city__item">
                  <a class="city__link" href="#">Краснодар</a>
                </li>
                <li class="city__item">
                  <a class="city__link" href="#">Пермь</a>
                </li>
                <li class="city__item">
                  <a class="city__link" href="#">Сургут</a>
                </li>
                <li class="city__item">
                  <a class="city__link" href="#">Уфа</a>
                </li>
                <li class="city__item">
                  <a class="city__link" href="#">Курган </a>
                </li>
              </ul>
            </div>
            <a class="city__link city__link--tel" href="tel:+74956603066" target="_blank" itemprop="telephone">+7 (495) 660-30-66</a>
            <a class="city__link city__link--email" href="mailto:otdel@rostest.net" target="_blank" itemprop="email">otdel@rostest.net</a>
          </div>
        </div>
      </div>
      <div class="header__nav">
        <div class="container">
          <!-- Nav-->
          <nav class="nav">
            <div class="nav__hamburger">
              <a class="hamburger" href="#">
                <span></span>
              </a>
            </div>
            <div class="nav__wrapper">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="page-services.html">Услуги</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="page-about.html">О компании</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="page-news.html">Новости</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="page-branches.html">Сертификация по отраслям</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="page-contacts.html">Контакты</a>
                </li>
                <li class="nav__item nav__item--btn">
                  <a class="nav__link" href="page-form.html">Узнать стоимость</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main></main>
    <!-- Footer-->
    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__logo">
            <!-- Logo-->
            <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
              <img src="img/logo.svg" alt="logo" title="logo" itemprop="logo">
            </a>
          </div>
          <!-- Nav-->
          <nav class="nav-footer">
            <ul class="nav-footer__list">
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="page-services.html">Услуги</a>
                <ul class="subnav-footer">
                  <li class="subnav-footer__item">
                    <a class="subnav-footer__link" href="page.html">Категория 1</a>
                  </li>
                  <li class="subnav-footer__item">
                    <a class="subnav-footer__link" href="page.html">Категория 2</a>
                  </li>
                  <li class="subnav-footer__item">
                    <a class="subnav-footer__link" href="page.html">Категория 3</a>
                  </li>
                </ul>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="page-about.html">О компании</a>
                <ul class="subnav-footer">
                  <li class="subnav-footer__item">
                    <a class="subnav-footer__link" href="page-about.html#advantages">Преимущества</a>
                  </li>
                  <li class="subnav-footer__item">
                    <a class="subnav-footer__link" href="page-about.html#reviews">Отзывы</a>
                  </li>
                </ul>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="page-news.html">Новости</a>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="page-branches.html">Сертификация по отраслям</a>
              </li>
              <li class="nav-footer__item">
                <a class="nav-footer__link" href="page-contacts.html">Контакты</a>
                <div class="contacts-footer" itemscope itemtype="http://schema.org/ContactPoint">
                  <div class="contacts-footer__line">
                    <a class="contacts-footer__link contacts-footer__link--tel" href="tel:+74956603066" target="_blank" itemprop="faxNumber">+7 (495) 660-30-66</a>
                  </div>
                  <div class="contacts-footer__line">
                    <a class="contacts-footer__link contacts-footer__link--email" href="mailto:otdel@rostest.net" target="_blank" itemprop="email">otdel@rostest.net</a>
                  </div>
                  <div class="contacts-footer__line">
                    <div class="contacts-footer__address" itemprop="areaServed">г.Москва, пер. Грохольский, д. 32, оф. 302</div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <a class="up" href="#"></a>
    </footer>
    <script src="js/script.min.js"></script>
  </body>
</html>