/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-arrow-next-name: 's-arrow-next';
$s-arrow-next-x: 224px;
$s-arrow-next-y: 71px;
$s-arrow-next-offset-x: -224px;
$s-arrow-next-offset-y: -71px;
$s-arrow-next-width: 20px;
$s-arrow-next-height: 54px;
$s-arrow-next-total-width: 317px;
$s-arrow-next-total-height: 252px;
$s-arrow-next-image: '../img/png-sprite.png';
$s-arrow-next: (224px, 71px, -224px, -71px, 20px, 54px, 317px, 252px, '../img/png-sprite.png', 's-arrow-next', );
$s-arrow-prev-name: 's-arrow-prev';
$s-arrow-prev-x: 61px;
$s-arrow-prev-y: 198px;
$s-arrow-prev-offset-x: -61px;
$s-arrow-prev-offset-y: -198px;
$s-arrow-prev-width: 19px;
$s-arrow-prev-height: 54px;
$s-arrow-prev-total-width: 317px;
$s-arrow-prev-total-height: 252px;
$s-arrow-prev-image: '../img/png-sprite.png';
$s-arrow-prev: (61px, 198px, -61px, -198px, 19px, 54px, 317px, 252px, '../img/png-sprite.png', 's-arrow-prev', );
$s-arrow-steps-name: 's-arrow-steps';
$s-arrow-steps-x: 197px;
$s-arrow-steps-y: 71px;
$s-arrow-steps-offset-x: -197px;
$s-arrow-steps-offset-y: -71px;
$s-arrow-steps-width: 25px;
$s-arrow-steps-height: 55px;
$s-arrow-steps-total-width: 317px;
$s-arrow-steps-total-height: 252px;
$s-arrow-steps-image: '../img/png-sprite.png';
$s-arrow-steps: (197px, 71px, -197px, -71px, 25px, 55px, 317px, 252px, '../img/png-sprite.png', 's-arrow-steps', );
$s-check-name: 's-check';
$s-check-x: 270px;
$s-check-y: 175px;
$s-check-offset-x: -270px;
$s-check-offset-y: -175px;
$s-check-width: 17px;
$s-check-height: 12px;
$s-check-total-width: 317px;
$s-check-total-height: 252px;
$s-check-image: '../img/png-sprite.png';
$s-check: (270px, 175px, -270px, -175px, 17px, 12px, 317px, 252px, '../img/png-sprite.png', 's-check', );
$s-download-name: 's-download';
$s-download-x: 137px;
$s-download-y: 67px;
$s-download-offset-x: -137px;
$s-download-offset-y: -67px;
$s-download-width: 32px;
$s-download-height: 42px;
$s-download-total-width: 317px;
$s-download-total-height: 252px;
$s-download-image: '../img/png-sprite.png';
$s-download: (137px, 67px, -137px, -67px, 32px, 42px, 317px, 252px, '../img/png-sprite.png', 's-download', );
$s-red-check-name: 's-red-check';
$s-red-check-x: 193px;
$s-red-check-y: 133px;
$s-red-check-offset-x: -193px;
$s-red-check-offset-y: -133px;
$s-red-check-width: 35px;
$s-red-check-height: 35px;
$s-red-check-total-width: 317px;
$s-red-check-total-height: 252px;
$s-red-check-image: '../img/png-sprite.png';
$s-red-check: (193px, 133px, -193px, -133px, 35px, 35px, 317px, 252px, '../img/png-sprite.png', 's-red-check', );
$s-search-name: 's-search';
$s-search-x: 253px;
$s-search-y: 175px;
$s-search-offset-x: -253px;
$s-search-offset-y: -175px;
$s-search-width: 15px;
$s-search-height: 15px;
$s-search-total-width: 317px;
$s-search-total-height: 252px;
$s-search-image: '../img/png-sprite.png';
$s-search: (253px, 175px, -253px, -175px, 15px, 15px, 317px, 252px, '../img/png-sprite.png', 's-search', );
$s-services-auto-name: 's-services-auto';
$s-services-auto-x: 67px;
$s-services-auto-y: 68px;
$s-services-auto-offset-x: -67px;
$s-services-auto-offset-y: -68px;
$s-services-auto-width: 62px;
$s-services-auto-height: 60px;
$s-services-auto-total-width: 317px;
$s-services-auto-total-height: 252px;
$s-services-auto-image: '../img/png-sprite.png';
$s-services-auto: (67px, 68px, -67px, -68px, 62px, 60px, 317px, 252px, '../img/png-sprite.png', 's-services-auto', );
$s-services-eac-name: 's-services-eac';
$s-services-eac-x: 131px;
$s-services-eac-y: 133px;
$s-services-eac-offset-x: -131px;
$s-services-eac-offset-y: -133px;
$s-services-eac-width: 60px;
$s-services-eac-height: 51px;
$s-services-eac-total-width: 317px;
$s-services-eac-total-height: 252px;
$s-services-eac-image: '../img/png-sprite.png';
$s-services-eac: (131px, 133px, -131px, -133px, 60px, 51px, 317px, 252px, '../img/png-sprite.png', 's-services-eac', );
$s-services-eagle-name: 's-services-eagle';
$s-services-eagle-x: 137px;
$s-services-eagle-y: 0px;
$s-services-eagle-offset-x: -137px;
$s-services-eagle-offset-y: 0px;
$s-services-eagle-width: 58px;
$s-services-eagle-height: 65px;
$s-services-eagle-total-width: 317px;
$s-services-eagle-total-height: 252px;
$s-services-eagle-image: '../img/png-sprite.png';
$s-services-eagle: (137px, 0px, -137px, 0px, 58px, 65px, 317px, 252px, '../img/png-sprite.png', 's-services-eagle', );
$s-services-eco-name: 's-services-eco';
$s-services-eco-x: 0px;
$s-services-eco-y: 68px;
$s-services-eco-offset-x: 0px;
$s-services-eco-offset-y: -68px;
$s-services-eco-width: 65px;
$s-services-eco-height: 63px;
$s-services-eco-total-width: 317px;
$s-services-eco-total-height: 252px;
$s-services-eco-image: '../img/png-sprite.png';
$s-services-eco: (0px, 68px, 0px, -68px, 65px, 63px, 317px, 252px, '../img/png-sprite.png', 's-services-eco', );
$s-services-fire-name: 's-services-fire';
$s-services-fire-x: 69px;
$s-services-fire-y: 0px;
$s-services-fire-offset-x: -69px;
$s-services-fire-offset-y: 0px;
$s-services-fire-width: 66px;
$s-services-fire-height: 66px;
$s-services-fire-total-width: 317px;
$s-services-fire-total-height: 252px;
$s-services-fire-image: '../img/png-sprite.png';
$s-services-fire: (69px, 0px, -69px, 0px, 66px, 66px, 317px, 252px, '../img/png-sprite.png', 's-services-fire', );
$s-services-folders-name: 's-services-folders';
$s-services-folders-x: 0px;
$s-services-folders-y: 198px;
$s-services-folders-offset-x: 0px;
$s-services-folders-offset-y: -198px;
$s-services-folders-width: 59px;
$s-services-folders-height: 54px;
$s-services-folders-total-width: 317px;
$s-services-folders-total-height: 252px;
$s-services-folders-image: '../img/png-sprite.png';
$s-services-folders: (0px, 198px, 0px, -198px, 59px, 54px, 317px, 252px, '../img/png-sprite.png', 's-services-folders', );
$s-services-globe-name: 's-services-globe';
$s-services-globe-x: 253px;
$s-services-globe-y: 56px;
$s-services-globe-offset-x: -253px;
$s-services-globe-offset-y: -56px;
$s-services-globe-width: 58px;
$s-services-globe-height: 58px;
$s-services-globe-total-width: 317px;
$s-services-globe-total-height: 252px;
$s-services-globe-image: '../img/png-sprite.png';
$s-services-globe: (253px, 56px, -253px, -56px, 58px, 58px, 317px, 252px, '../img/png-sprite.png', 's-services-globe', );
$s-services-iso-name: 's-services-iso';
$s-services-iso-x: 197px;
$s-services-iso-y: 0px;
$s-services-iso-offset-x: -197px;
$s-services-iso-offset-y: 0px;
$s-services-iso-width: 54px;
$s-services-iso-height: 69px;
$s-services-iso-total-width: 317px;
$s-services-iso-total-height: 252px;
$s-services-iso-image: '../img/png-sprite.png';
$s-services-iso: (197px, 0px, -197px, 0px, 54px, 69px, 317px, 252px, '../img/png-sprite.png', 's-services-iso', );
$s-services-letters-name: 's-services-letters';
$s-services-letters-x: 0px;
$s-services-letters-y: 0px;
$s-services-letters-offset-x: 0px;
$s-services-letters-offset-y: 0px;
$s-services-letters-width: 67px;
$s-services-letters-height: 66px;
$s-services-letters-total-width: 317px;
$s-services-letters-total-height: 252px;
$s-services-letters-image: '../img/png-sprite.png';
$s-services-letters: (0px, 0px, 0px, 0px, 67px, 66px, 317px, 252px, '../img/png-sprite.png', 's-services-letters', );
$s-services-other-name: 's-services-other';
$s-services-other-x: 61px;
$s-services-other-y: 133px;
$s-services-other-offset-x: -61px;
$s-services-other-offset-y: -133px;
$s-services-other-width: 68px;
$s-services-other-height: 53px;
$s-services-other-total-width: 317px;
$s-services-other-total-height: 252px;
$s-services-other-image: '../img/png-sprite.png';
$s-services-other: (61px, 133px, -61px, -133px, 68px, 53px, 317px, 252px, '../img/png-sprite.png', 's-services-other', );
$s-services-rst-name: 's-services-rst';
$s-services-rst-x: 253px;
$s-services-rst-y: 0px;
$s-services-rst-offset-x: -253px;
$s-services-rst-offset-y: 0px;
$s-services-rst-width: 64px;
$s-services-rst-height: 54px;
$s-services-rst-total-width: 317px;
$s-services-rst-total-height: 252px;
$s-services-rst-image: '../img/png-sprite.png';
$s-services-rst: (253px, 0px, -253px, 0px, 64px, 54px, 317px, 252px, '../img/png-sprite.png', 's-services-rst', );
$s-services-scheme-name: 's-services-scheme';
$s-services-scheme-x: 253px;
$s-services-scheme-y: 116px;
$s-services-scheme-offset-x: -253px;
$s-services-scheme-offset-y: -116px;
$s-services-scheme-width: 57px;
$s-services-scheme-height: 57px;
$s-services-scheme-total-width: 317px;
$s-services-scheme-total-height: 252px;
$s-services-scheme-image: '../img/png-sprite.png';
$s-services-scheme: (253px, 116px, -253px, -116px, 57px, 57px, 317px, 252px, '../img/png-sprite.png', 's-services-scheme', );
$s-services-water-name: 's-services-water';
$s-services-water-x: 0px;
$s-services-water-y: 133px;
$s-services-water-offset-x: 0px;
$s-services-water-offset-y: -133px;
$s-services-water-width: 59px;
$s-services-water-height: 63px;
$s-services-water-total-width: 317px;
$s-services-water-total-height: 252px;
$s-services-water-image: '../img/png-sprite.png';
$s-services-water: (0px, 133px, 0px, -133px, 59px, 63px, 317px, 252px, '../img/png-sprite.png', 's-services-water', );
$spritesheet-width: 317px;
$spritesheet-height: 252px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-arrow-next, $s-arrow-prev, $s-arrow-steps, $s-check, $s-download, $s-red-check, $s-search, $s-services-auto, $s-services-eac, $s-services-eagle, $s-services-eco, $s-services-fire, $s-services-folders, $s-services-globe, $s-services-iso, $s-services-letters, $s-services-other, $s-services-rst, $s-services-scheme, $s-services-water, );
$spritesheet: (317px, 252px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
