/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-advantage1-name: 's-advantage1';
$s-advantage1-x: 99px;
$s-advantage1-y: 0px;
$s-advantage1-offset-x: -99px;
$s-advantage1-offset-y: 0px;
$s-advantage1-width: 71px;
$s-advantage1-height: 66px;
$s-advantage1-total-width: 358px;
$s-advantage1-total-height: 268px;
$s-advantage1-image: '../img/png-sprite.png';
$s-advantage1: (99px, 0px, -99px, 0px, 71px, 66px, 358px, 268px, '../img/png-sprite.png', 's-advantage1', );
$s-advantage2-name: 's-advantage2';
$s-advantage2-x: 99px;
$s-advantage2-y: 68px;
$s-advantage2-offset-x: -99px;
$s-advantage2-offset-y: -68px;
$s-advantage2-width: 71px;
$s-advantage2-height: 66px;
$s-advantage2-total-width: 358px;
$s-advantage2-total-height: 268px;
$s-advantage2-image: '../img/png-sprite.png';
$s-advantage2: (99px, 68px, -99px, -68px, 71px, 66px, 358px, 268px, '../img/png-sprite.png', 's-advantage2', );
$s-advantage3-name: 's-advantage3';
$s-advantage3-x: 0px;
$s-advantage3-y: 0px;
$s-advantage3-offset-x: 0px;
$s-advantage3-offset-y: 0px;
$s-advantage3-width: 97px;
$s-advantage3-height: 63px;
$s-advantage3-total-width: 358px;
$s-advantage3-total-height: 268px;
$s-advantage3-image: '../img/png-sprite.png';
$s-advantage3: (0px, 0px, 0px, 0px, 97px, 63px, 358px, 268px, '../img/png-sprite.png', 's-advantage3', );
$s-advantage4-name: 's-advantage4';
$s-advantage4-x: 0px;
$s-advantage4-y: 65px;
$s-advantage4-offset-x: 0px;
$s-advantage4-offset-y: -65px;
$s-advantage4-width: 70px;
$s-advantage4-height: 73px;
$s-advantage4-total-width: 358px;
$s-advantage4-total-height: 268px;
$s-advantage4-image: '../img/png-sprite.png';
$s-advantage4: (0px, 65px, 0px, -65px, 70px, 73px, 358px, 268px, '../img/png-sprite.png', 's-advantage4', );
$s-arrow-next-name: 's-arrow-next';
$s-arrow-next-x: 328px;
$s-arrow-next-y: 59px;
$s-arrow-next-offset-x: -328px;
$s-arrow-next-offset-y: -59px;
$s-arrow-next-width: 20px;
$s-arrow-next-height: 54px;
$s-arrow-next-total-width: 358px;
$s-arrow-next-total-height: 268px;
$s-arrow-next-image: '../img/png-sprite.png';
$s-arrow-next: (328px, 59px, -328px, -59px, 20px, 54px, 358px, 268px, '../img/png-sprite.png', 's-arrow-next', );
$s-arrow-prev-name: 's-arrow-prev';
$s-arrow-prev-x: 301px;
$s-arrow-prev-y: 197px;
$s-arrow-prev-offset-x: -301px;
$s-arrow-prev-offset-y: -197px;
$s-arrow-prev-width: 19px;
$s-arrow-prev-height: 54px;
$s-arrow-prev-total-width: 358px;
$s-arrow-prev-total-height: 268px;
$s-arrow-prev-image: '../img/png-sprite.png';
$s-arrow-prev: (301px, 197px, -301px, -197px, 19px, 54px, 358px, 268px, '../img/png-sprite.png', 's-arrow-prev', );
$s-arrow-steps-name: 's-arrow-steps';
$s-arrow-steps-x: 301px;
$s-arrow-steps-y: 59px;
$s-arrow-steps-offset-x: -301px;
$s-arrow-steps-offset-y: -59px;
$s-arrow-steps-width: 25px;
$s-arrow-steps-height: 55px;
$s-arrow-steps-total-width: 358px;
$s-arrow-steps-total-height: 268px;
$s-arrow-steps-image: '../img/png-sprite.png';
$s-arrow-steps: (301px, 59px, -301px, -59px, 25px, 55px, 358px, 268px, '../img/png-sprite.png', 's-arrow-steps', );
$s-check-name: 's-check';
$s-check-x: 335px;
$s-check-y: 133px;
$s-check-offset-x: -335px;
$s-check-offset-y: -133px;
$s-check-width: 17px;
$s-check-height: 12px;
$s-check-total-width: 358px;
$s-check-total-height: 268px;
$s-check-image: '../img/png-sprite.png';
$s-check: (335px, 133px, -335px, -133px, 17px, 12px, 358px, 268px, '../img/png-sprite.png', 's-check', );
$s-download-name: 's-download';
$s-download-x: 301px;
$s-download-y: 116px;
$s-download-offset-x: -301px;
$s-download-offset-y: -116px;
$s-download-width: 32px;
$s-download-height: 42px;
$s-download-total-width: 358px;
$s-download-total-height: 268px;
$s-download-image: '../img/png-sprite.png';
$s-download: (301px, 116px, -301px, -116px, 32px, 42px, 358px, 268px, '../img/png-sprite.png', 's-download', );
$s-red-check-name: 's-red-check';
$s-red-check-x: 301px;
$s-red-check-y: 160px;
$s-red-check-offset-x: -301px;
$s-red-check-offset-y: -160px;
$s-red-check-width: 35px;
$s-red-check-height: 35px;
$s-red-check-total-width: 358px;
$s-red-check-total-height: 268px;
$s-red-check-image: '../img/png-sprite.png';
$s-red-check: (301px, 160px, -301px, -160px, 35px, 35px, 358px, 268px, '../img/png-sprite.png', 's-red-check', );
$s-search-name: 's-search';
$s-search-x: 335px;
$s-search-y: 116px;
$s-search-offset-x: -335px;
$s-search-offset-y: -116px;
$s-search-width: 15px;
$s-search-height: 15px;
$s-search-total-width: 358px;
$s-search-total-height: 268px;
$s-search-image: '../img/png-sprite.png';
$s-search: (335px, 116px, -335px, -116px, 15px, 15px, 358px, 268px, '../img/png-sprite.png', 's-search', );
$s-services-auto-name: 's-services-auto';
$s-services-auto-x: 67px;
$s-services-auto-y: 140px;
$s-services-auto-offset-x: -67px;
$s-services-auto-offset-y: -140px;
$s-services-auto-width: 62px;
$s-services-auto-height: 60px;
$s-services-auto-total-width: 358px;
$s-services-auto-total-height: 268px;
$s-services-auto-image: '../img/png-sprite.png';
$s-services-auto: (67px, 140px, -67px, -140px, 62px, 60px, 358px, 268px, '../img/png-sprite.png', 's-services-auto', );
$s-services-eac-name: 's-services-eac';
$s-services-eac-x: 188px;
$s-services-eac-y: 205px;
$s-services-eac-offset-x: -188px;
$s-services-eac-offset-y: -205px;
$s-services-eac-width: 60px;
$s-services-eac-height: 51px;
$s-services-eac-total-width: 358px;
$s-services-eac-total-height: 268px;
$s-services-eac-image: '../img/png-sprite.png';
$s-services-eac: (188px, 205px, -188px, -205px, 60px, 51px, 358px, 268px, '../img/png-sprite.png', 's-services-eac', );
$s-services-eagle-name: 's-services-eagle';
$s-services-eagle-x: 241px;
$s-services-eagle-y: 0px;
$s-services-eagle-offset-x: -241px;
$s-services-eagle-offset-y: 0px;
$s-services-eagle-width: 58px;
$s-services-eagle-height: 65px;
$s-services-eagle-total-width: 358px;
$s-services-eagle-total-height: 268px;
$s-services-eagle-image: '../img/png-sprite.png';
$s-services-eagle: (241px, 0px, -241px, 0px, 58px, 65px, 358px, 268px, '../img/png-sprite.png', 's-services-eagle', );
$s-services-eco-name: 's-services-eco';
$s-services-eco-x: 0px;
$s-services-eco-y: 140px;
$s-services-eco-offset-x: 0px;
$s-services-eco-offset-y: -140px;
$s-services-eco-width: 65px;
$s-services-eco-height: 63px;
$s-services-eco-total-width: 358px;
$s-services-eco-total-height: 268px;
$s-services-eco-image: '../img/png-sprite.png';
$s-services-eco: (0px, 140px, 0px, -140px, 65px, 63px, 358px, 268px, '../img/png-sprite.png', 's-services-eco', );
$s-services-fire-name: 's-services-fire';
$s-services-fire-x: 172px;
$s-services-fire-y: 68px;
$s-services-fire-offset-x: -172px;
$s-services-fire-offset-y: -68px;
$s-services-fire-width: 66px;
$s-services-fire-height: 66px;
$s-services-fire-total-width: 358px;
$s-services-fire-total-height: 268px;
$s-services-fire-image: '../img/png-sprite.png';
$s-services-fire: (172px, 68px, -172px, -68px, 66px, 66px, 358px, 268px, '../img/png-sprite.png', 's-services-fire', );
$s-services-folders-name: 's-services-folders';
$s-services-folders-x: 127px;
$s-services-folders-y: 205px;
$s-services-folders-offset-x: -127px;
$s-services-folders-offset-y: -205px;
$s-services-folders-width: 59px;
$s-services-folders-height: 54px;
$s-services-folders-total-width: 358px;
$s-services-folders-total-height: 268px;
$s-services-folders-image: '../img/png-sprite.png';
$s-services-folders: (127px, 205px, -127px, -205px, 59px, 54px, 358px, 268px, '../img/png-sprite.png', 's-services-folders', );
$s-services-globe-name: 's-services-globe';
$s-services-globe-x: 241px;
$s-services-globe-y: 138px;
$s-services-globe-offset-x: -241px;
$s-services-globe-offset-y: -138px;
$s-services-globe-width: 58px;
$s-services-globe-height: 58px;
$s-services-globe-total-width: 358px;
$s-services-globe-total-height: 268px;
$s-services-globe-image: '../img/png-sprite.png';
$s-services-globe: (241px, 138px, -241px, -138px, 58px, 58px, 358px, 268px, '../img/png-sprite.png', 's-services-globe', );
$s-services-iso-name: 's-services-iso';
$s-services-iso-x: 241px;
$s-services-iso-y: 67px;
$s-services-iso-offset-x: -241px;
$s-services-iso-offset-y: -67px;
$s-services-iso-width: 54px;
$s-services-iso-height: 69px;
$s-services-iso-total-width: 358px;
$s-services-iso-total-height: 268px;
$s-services-iso-image: '../img/png-sprite.png';
$s-services-iso: (241px, 67px, -241px, -67px, 54px, 69px, 358px, 268px, '../img/png-sprite.png', 's-services-iso', );
$s-services-letters-name: 's-services-letters';
$s-services-letters-x: 172px;
$s-services-letters-y: 0px;
$s-services-letters-offset-x: -172px;
$s-services-letters-offset-y: 0px;
$s-services-letters-width: 67px;
$s-services-letters-height: 66px;
$s-services-letters-total-width: 358px;
$s-services-letters-total-height: 268px;
$s-services-letters-image: '../img/png-sprite.png';
$s-services-letters: (172px, 0px, -172px, 0px, 67px, 66px, 358px, 268px, '../img/png-sprite.png', 's-services-letters', );
$s-services-other-name: 's-services-other';
$s-services-other-x: 131px;
$s-services-other-y: 140px;
$s-services-other-offset-x: -131px;
$s-services-other-offset-y: -140px;
$s-services-other-width: 68px;
$s-services-other-height: 53px;
$s-services-other-total-width: 358px;
$s-services-other-total-height: 268px;
$s-services-other-image: '../img/png-sprite.png';
$s-services-other: (131px, 140px, -131px, -140px, 68px, 53px, 358px, 268px, '../img/png-sprite.png', 's-services-other', );
$s-services-rst-name: 's-services-rst';
$s-services-rst-x: 61px;
$s-services-rst-y: 205px;
$s-services-rst-offset-x: -61px;
$s-services-rst-offset-y: -205px;
$s-services-rst-width: 64px;
$s-services-rst-height: 54px;
$s-services-rst-total-width: 358px;
$s-services-rst-total-height: 268px;
$s-services-rst-image: '../img/png-sprite.png';
$s-services-rst: (61px, 205px, -61px, -205px, 64px, 54px, 358px, 268px, '../img/png-sprite.png', 's-services-rst', );
$s-services-scheme-name: 's-services-scheme';
$s-services-scheme-x: 301px;
$s-services-scheme-y: 0px;
$s-services-scheme-offset-x: -301px;
$s-services-scheme-offset-y: 0px;
$s-services-scheme-width: 57px;
$s-services-scheme-height: 57px;
$s-services-scheme-total-width: 358px;
$s-services-scheme-total-height: 268px;
$s-services-scheme-image: '../img/png-sprite.png';
$s-services-scheme: (301px, 0px, -301px, 0px, 57px, 57px, 358px, 268px, '../img/png-sprite.png', 's-services-scheme', );
$s-services-water-name: 's-services-water';
$s-services-water-x: 0px;
$s-services-water-y: 205px;
$s-services-water-offset-x: 0px;
$s-services-water-offset-y: -205px;
$s-services-water-width: 59px;
$s-services-water-height: 63px;
$s-services-water-total-width: 358px;
$s-services-water-total-height: 268px;
$s-services-water-image: '../img/png-sprite.png';
$s-services-water: (0px, 205px, 0px, -205px, 59px, 63px, 358px, 268px, '../img/png-sprite.png', 's-services-water', );
$spritesheet-width: 358px;
$spritesheet-height: 268px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-advantage1, $s-advantage2, $s-advantage3, $s-advantage4, $s-arrow-next, $s-arrow-prev, $s-arrow-steps, $s-check, $s-download, $s-red-check, $s-search, $s-services-auto, $s-services-eac, $s-services-eagle, $s-services-eco, $s-services-fire, $s-services-folders, $s-services-globe, $s-services-iso, $s-services-letters, $s-services-other, $s-services-rst, $s-services-scheme, $s-services-water, );
$spritesheet: (358px, 268px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
