include ../abstracts/bemto/bemto.pug

+b.SECTION.advantages
  if !index
    +b.anchor(href="javascript:void(0);", id='advantages')
  .container
    +e.H2.title Преимущества нашей компании
    .row
      +b.advantage.col-xs-12.col-md-6.col-xl-3
        +e.img--consult
          svg(width='30', height='30')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#adv-consult')
        +e.H3.title Бесплатные консультации
        +e.text Ответим на вопросы  и подберем оптимальные условия оформления разрешительных документов

      +b.advantage.col-xs-12.col-md-6.col-xl-3
        +e.img--manager
          svg(width='30', height='30')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#adv-manager')
        +e.H3.title Персональный менеджер
        +e.text Опытный специалист возьмет на себя задачи по проработке необходимых документов и оформлению заявки

      +b.advantage.col-xs-12.col-md-6.col-xl-3
        +e.img--shipping
          svg(width='30', height='30')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#adv-shipping')
        +e.H3.title Доставка за наш счет
        +e.text Оформите заявку, пришлите минимальный пакет документов и наш курьер доставит все бесплатно

      +b.advantage.col-xs-12.col-md-6.col-xl-3
        +e.img--experience
          svg(width='30', height='30')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#adv-experience')
        +e.H3.title Опыт 17 лет в сфере
        +e.text С 1999г. мы занимаемся сертификацией товаров и услуг, постоянно отслеживая изменения в законодательсте