include ../abstracts/bemto/bemto.pug

+b.SECTION.advantages
  if !index
    +b.anchor(href="javascript:void(0);", id='advantages')
  .container
    +e.H2.title Преимущества нашей компании
    .row
      +e.item.col-xs-12.col-md-6.col-xl-3
        +e.img
          img(src= "img/review-logo1.png", alt='review-logo1', title='review-logo1')
        +e.H3.title Бесплатные консультации
        +e.text Ответим на вопросы  и подберем оптимальные условия оформления разрешительных документов

      +e.item.col-xs-12.col-md-6.col-xl-3
        +e.img
          img(src= "img/review-logo1.png", alt='review-logo1', title='review-logo1')
        +e.H3.title Персональный менеджер
        +e.text Опытный специалист возьмет на себя задачи по проработке необходимых документов и оформлению заявки

      +e.item.col-xs-12.col-md-6.col-xl-3
        +e.img
          img(src= "img/review-logo1.png", alt='review-logo1', title='review-logo1')
        +e.H3.title Доставка за наш счет
        +e.text Оформите заявку, пришлите минимальный пакет документов и наш курьер доставит все бесплатно

      +e.item.col-xs-12.col-md-6.col-xl-3
        +e.img
          img(src= "img/review-logo1.png", alt='review-logo1', title='review-logo1')
        +e.H3.title Опыт 17 лет в сфере
        +e.text С 1999г. мы занимаемся сертификацией товаров и услуг, постоянно отслеживая изменения в законодательсте