include ../abstracts/bemto/bemto.pug

+b.SECTION.branches(itemscope, itemtype="http://schema.org/Service")
  +e.H1.title Сертификация по отраслям
  .container
    .row
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Пищевая продукция
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Косметика
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Алкоголь
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Бытовая химия
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Легкая промышленность
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Обувь
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Товары для детей
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Игрушки
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Мебель
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Световое оборудование
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Бытовая техника
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Промышленное оборудование
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Строительные материалы
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Автомобильная техника и запчасти
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Упаковка
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") Смазочные материалы и масла
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") СИЗ
      +b.branch.col-xs-12.col-md-4.col-xl-2
        +e.A.link(href="single-branch.html")
          +e.icon
          +e.name(itemprop="category") БАДы

 
