include ../abstracts/bemto/bemto.pug

+b.SECTION.clients
  .container
    +e.H2.title Наши клиенты
    +e.gallery
      - for (var i = 0; i < 6; i++){
        +b.client-slide(itemscope, itemtype="http://schema.org/Review")  
          +e.flex   
            +e.img
              img(src= "img/client1.png", alt='client1', title='client1', itemprop="image")
            +e.inner
              +e.author(itemprop="author") Связьиндустрия
              +e.services-title Оказанные услуги
              +e.services(itemprop="offers")
                ul 
                  li Сертификат соответствия
                  li Декларация о соответствии
      - }