include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    +e.inner
      +e.logo
        // Logo
        +b.A.logo--footer(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
          img(src="img/logo.svg", alt="logo", title="logo", itemprop="logo")    
      // Nav
      +b.NAV.nav-footer
        +e.UL.list
          +e.item 
            +e.A.link(href="page-services.html") Услуги
            +b.UL.subnav-footer
              +e.item 
                +e.A.link(href="page.html") Категория 1
              +e.item
                +e.A.link(href="page.html") Категория 2
              +e.item 
                +e.A.link(href="page.html") Категория 3
                
          +e.item 
            +e.A.link(href="page-about.html") О компании
            +b.UL.subnav-footer
              +e.item 
                +e.A.link(href="page-about.html#advantages") Преимущества
              +e.item
                +e.A.link(href="page-about.html#reviews") Отзывы
              +e.item
                +e.A.link(href="page.html") Публикации

          +e.item
            +e.A.link(href="page-news.html") Новости
            +b.UL.subnav-footer
              +e.item 
                +e.A.link(href="page-questions.html") Вопрос-ответ
            
      +b.contacts-footer(itemscope, itemtype="http://schema.org/ContactPoint")
        +e.H3.title
          a(href="page-contacts.html") Контакты
        +e.line 
          +e.A.link--tel(href="tel:+74956603066", target="_blank", itemprop="faxNumber") +7 (495) 660-30-66
        +e.line 
          +e.A.link--email(href="mailto:otdel@rostest.net", target="_blank", itemprop="email") otdel@rostest.net
        +e.line 
          +e.DIV.address(itemprop="areaServed") г.Москва, пер. Грохольский, д. 32/2, оф. 302

  //- +b.A.up(href="#")
+b.modal
  +e.overlay
  +e.form
    +e.A.close(href="#")
    - var modal = true
    // Form application    
    include _form--application.pug

