include ../abstracts/bemto/bemto.pug

+b.SECTION.guide
  .container
    +e.inner
      +e.icon-wrapper
        +e.icon
      +e.wrapper
        +e.H2.title Краткий справочник по сертификации
        +e.btn
          +b.A.btn--more.--red(href="page-glossary.html") Скачать бесплатно




