include ../abstracts/bemto/bemto.pug

+b.SECTION.how-we-work
  .container
    +e.H2.title Как мы работаем
    +e.UL.list
      +e.item
        +e.number 1
        +e.text Заявка
      +e.arrow        
      +e.item
        +e.number 2
        +e.text Связывемся и выясняем все детали
      +e.arrow 
      +e.item
        +e.number 3
        +e.text Высылаете почтой или на e-mailнеобходимые документы
      +e.arrow        
      +e.item
        +e.number 4
        +e.text Присылаем курьером готовый документ


