include ../abstracts/bemto/bemto.pug

+b.SECTION.news      
  .container
    .row
      .col-xs-12.col-lg-9
        +e.H1.title Новости
        +e.H2.category События
        +e.articles
          - for (var i = 0; i < 3; i++){
            +b.ARTICLE.news-item(itemscope, itemtype="http://schema.org/Article")
              .row
                .col-xs-12.col-md-4
                  +e.img
                    img(src='img/news-page.jpg', alt='news-page', title='news-page', itemprop="image")
                .col-xs-12.col-md-8
                  +e.date(itemprop="datePublished") 13.09.2016
                  +e.H3.title(itemprop="headline") Аккредитованные лаборатории и органы по сертификации 
                  +e.excerpt(itemprop="articleSection") С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.
                  +e.A.link(href="single-news.html") Читать далее
          - }
        +b.SECTION.pagination
          +e.A.arrow--prev(href="page-news.html")  
          +e.A.number--current(href="page-news.html") 1
          +e.A.number(href="page-news.html") 2
          +e.SPAN.dots ...
          +e.A.number(href="page-news.html") 10
          +e.A.arrow--next(href="page-news.html") 

      .col-xs-12.col-lg-3
        +b.news-categories
          +e.H3.title Разделы новостей
          +e.UL.list
            +e.item
              +e.link(href="page-news.html") События
            +e.item 
              +e.link(href="page-news.html") Праздники
            +e.item
              +e.link(href="page-news.html") Нововведения 
            +e.item
              +e.link(href="page-news.html") События 
            +e.item 
              +e.link(href="page-news.html") Праздники
            +e.item
              +e.link(href="page-news.html") Все новости
 


