include ../abstracts/bemto/bemto.pug

+b.SECTION.news      
  .container
    .row
      .col-xs-12.col-lg-8
        +e.H1.title Новости
        +e.H2.category События
        +e.articles
          - for (var i = 0; i < 3; i++){
            +b.ARTICLE.news-item(itemscope, itemtype="http://schema.org/Article")
              +e.img
                img(src='img/news1.jpg', alt='news1', title='news1', itemprop="image")
              +e.text
                +b.date (itemprop="datePublished") 13.09.2016
                +e.H3.title(itemprop="headline") Аккредитованные лаборатории и органы по сертификации 
                +e.excerpt(itemprop="articleSection") С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.
                +e.A.link(href="single-news.html")
          - }
      .col-xs-12.col-lg-4
        +b.news-categories
          +e.H3.title Разделы новостей
          +e.UL.list
            +e.item События 
            +e.item Праздники 
            +e.item Нововведения                         
            +e.item События 
            +e.item Праздники 
            +e.item Все новости
    .row
      .col-xs-12
        +b.SECTION.pagination
          +e.A.arrow--prev(href="page-news.html")  
          +e.A.number--current(href="page-news.html") 1
          +e.A.number(href="page-news.html") 2
          +e.A.number(href="page-news.html") 3
          +e.A.arrow--next(href="page-news.html")  


