include ../abstracts/bemto/bemto.pug

+b.SECTION.reviews
  if !index
    +b.anchor(href="javascript:void(0);", id='reviews')
  .container
    +e.H2.title Отзывы
    +e.gallery
      - for (var i = 0; i < 6; i++){
        +b.review-slide(itemscope, itemtype="http://schema.org/Review")
          +e.img
            img(src= "img/cert1.jpg", alt='cert1', title='cert1', itemprop="image")          
          +e.text(itemprop="reviewBody") Благодарю коллектив центра по сертификации Рос-Тест Москва в лице Наумовой Евгении за хорошую работу и доброжелательное отношение к клиентам. 
          +e.author(itemprop="author") Связьиндустрия
      - }


