include ../abstracts/bemto/bemto.pug

+b.SECTION.services(itemscope, itemtype="http://schema.org/Service")
  .container
    +e.H2.title Услуги

    +e.search
      // Search
      +b.search
        +e.FORM.form(action='', method='')
          +e.INPUT.input(type='text', name='Поиск', placeholder='Поиск по тегам')
          +b.BUTTON.btn--search(type='submit') Найти
          
    +e.types
      +b.services-type 
        +e.icon--eac
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Подтверждение соответствия ТР ТС
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ТР ТС
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация ТР ТС
      +b.services-type
        +e.icon--eagle
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Государственная регистрация:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о государственной регистрации
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Экспертное заключение 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Экспертное заключение о сроках годности
      +b.services-type
        +e.icon--rst
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Система сертификации ГОСТ Р:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Обязательный сертификат соответствия
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация о соответствии 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Добровольный сертификат соответствия   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат на услуги в системе ГОСТ Р 
      +b.services-type
        +e.icon--folders
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Разработка нормативно-технической документации
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка технических условий (ТУ)   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Регистрация технических условий 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка стандарта организации (СТО) 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Регистрация стандарта организации (СТО) 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка паспорт безопасности вещества 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Регистрация паспорта безопасности вещества 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Паспорт безопасности MSDS 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Паспорт изделия   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Эксплуатационная документация  (руководство по эксплуатации, паспорт изделия) 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Технологическая инструкция/технологический регламент
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка рецптур (оформление в надлежащий вид)
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Программа производственного контроля   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Расчеты пищевой и энергетической ценности  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Обоснование безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Программа и методика приемочных испытаний
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Расчет на прочность  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка чертежей 
      +b.services-type 
        +e.icon--letters
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Отказные письма
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р/ТРТС 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") По пожарной безопасности 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") По санитарно-эпидемиологическим нормам (от Роспотребнадзора)  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") От Росздравнадзора
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Департамента Растениеводства 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Россельхознадзора
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ВНИИС
      +b.services-type
        +e.icon--eco
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Экологические сертификаты
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат Organic
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат Natural 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат Eco 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат Bio
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат экологической безопасности  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат FSC
      +b.services-type
        +e.icon--scheme
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Сертификация радиоэлектронных средств, высокочастотных устройств и шифровальных средств 
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Нотификация ФСБ
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Лицензия Минпромторга 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Заключение Радиочастотного центра (РЧЦ)   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация Минсвзязи
      +b.services-type
        +e.icon--globe
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Зарубежные сертификаты 
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат СЕ
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат RoHS 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат RICH 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат IRIS 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат в системе УкрСепро 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат бережливого производства
      +b.services-type
        +e.icon--auto
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Сертификация транспортных средств   
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о безопасности конструкции транспортного средства (СБКТС) 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Заключение об экологическом классе ТС 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Документы о переоборудовании/внесению изменений в конструкцию ТС   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация ТРТС  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ТРТС     
      +b.services-type
        +e.icon--eac
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Система добровольной сертификации ЕАС:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ТР ТС
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация ТР ТС
      +b.services-type
        +e.icon--fire
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Пожарная сертификация:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат пожарной безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация пожарной безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Добровольный пожарный сертификат
      +b.services-type
        +e.icon--water
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Санитарно-эпидемиологический надзор и фитосанитарный надзор
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о гос. регистрации (СГР)  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Экспертное заключение 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Фитосанитарный сертификат 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Карантийный сертификат  
      +b.services-type
        +e.icon--iso
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Сертификация систем менеджмента
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ISO 9001   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ISO 14001 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат OHSAS 18001 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ISO 22000 (HACCP)
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ISO 20121:2012  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат интегрированной  системы менеджмента (ISO 9001, ISO 14001, OHSAS 18001) 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка документации и внедрение систем менеджмента   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка документации и внедрение системы менеджмента безопасности пищевой продукции (НАССР)  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат GMP - ГОСТ Р 52249-2009 Правила производства и контроля качества лекарственных средств 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р ИСО/МЭК 27001-2006 Информационная технология. 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Методы и средства обеспечения безопасности. Системы менеджмента информационной безопасности. Требования 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р ИСО/ ТУ 16949-2009 Системы менеджмента качества. 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Особые требования по применению ИСО 9001:2008 в автомобильной промышленности и организациях, производящих соответствующие запасные части.
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р 51814.1-2009
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р ИСО/ТУ 29001-2007 Менеджмент организации.
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Требования к системам менеджмента качества организаций, поставляющих продукцию и предоставляющих услуги в нефтяной, нефтехимической и газовой промышленности   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р ИСО 13485-2004 Изделия медицинские. Системы менеджмента качества. Системные требования для целей регулирования   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") TL 9000 Системы менеджмента качества в телекоммуникационной отрасли
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") BS EN 16001:2009 Энергетический менеджмент 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р ИСО 50001-2012 Системы энергетического менеджмента. 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Требования и руководство по применению ISO 28001:2007 Система менеджмента безопасности цепи поставок  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") SA 8000:2001: Социальная ответственность  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р 52614.2-2006 Системы менеджмента качества. 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Руководящие указания по применению ГОСТ Р ИСО 9001-2001 в сфере образования   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р 52614.4-2007 Руководящие указания по применению 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ Р ИСО 9001-2001 в органах местного самоуправления    
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") ГОСТ РВ 15.002-2003 "Система разработки и постановки продукции на производство. Военная техника. Система менеджмента качества. Общие требования" 
      +b.services-type
        +e.icon--other
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Прочие услуги
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка этикеток продукции 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Присвоение штрих-кодов 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Допуск СРО 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Экспертиза промышленной безопасности    
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат промышленной безопасности 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификаты происхождения 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Озоновое заключение  
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Заключение о спиртосодержании    
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Заключение об отсутствии ГМО
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Регистрационное удостоверение Росздравнадзора 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Заключение о сроке годности пищевой продукции 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство об утверждении типа    
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Поверка оборудования (весом до 5-7кг.) 
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Регистрация товарного знака











 
