include ../abstracts/bemto/bemto.pug

+b.SECTION.services(itemscope, itemtype="http://schema.org/Service")
  if index
    +e.inner-cyan
      .container
        +e.H2.title--white Часто требуется

  .container
    if !index
      +e.search
        // Search
        +b.search
          +e.FORM.form(action='', method='')
            +e.INPUT.input(type='text', name='Поиск', placeholder='Поиск по тегам')
            +b.BUTTON.btn--search(type='submit') Найти

    +e.types
      +b.services-type 
        +e.icon--eac
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Подтверждение соответствия ТР ТС
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ТР ТС
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация ТР ТС
      +b.services-type
        +e.icon--rst
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Система сертификации ГОСТ Р:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Обязательный сертификат соответствия
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация о соответствии
      +b.services-type
        +e.icon--folders
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Техническая документация
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка технических условий (ТУ)   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Паспорт безопасности MSDS 
      +b.services-type
        +e.icon--fire
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Пожарная сертификация:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат пожарной безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация пожарной безопасности
      +b.services-type
        +e.icon--eagle
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Государственная регистрация:
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о государственной регистрации
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Экспертное заключение 
      +b.services-type
        +e.icon--iso
        +e.text
          +e.H3.title
            +e.A.title-link(href="single-service.html", itemprop="serviceType") Сертификация систем менеджмента
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ISO 9001   
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ISO 22000 (HACCP)
              
    +e.btn
      +b.A.btn--more.--blue(href="page-glossary.html") Все услуги









 
