<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title">Преимущества нашей компании</h2>
    <div class="row">
      <div class="advantage col-xs-12 col-md-6 col-xl-3">
        <div class="advantage__img advantage__img--consult">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#adv-consult"></use>
          </svg>
        </div>
        <h3 class="advantage__title">Бесплатные консультации</h3>
        <div class="advantage__text">Ответим на вопросы и подберем оптимальные условия оформления разрешительных документов</div>
      </div>
      <div class="advantage col-xs-12 col-md-6 col-xl-3">
        <div class="advantage__img advantage__img--manager">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#adv-manager"></use>
          </svg>
        </div>
        <h3 class="advantage__title">Персональный менеджер</h3>
        <div class="advantage__text">Опытный специалист возьмет на себя задачи по проработке необходимых документов и оформлению заявки</div>
      </div>
      <div class="advantage col-xs-12 col-md-6 col-xl-3">
        <div class="advantage__img advantage__img--shipping">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#adv-shipping"></use>
          </svg>
        </div>
        <h3 class="advantage__title">Доставка за наш счет</h3>
        <div class="advantage__text">Оформите заявку, пришлите минимальный пакет документов и наш курьер доставит все бесплатно</div>
      </div>
      <div class="advantage col-xs-12 col-md-6 col-xl-3">
        <div class="advantage__img advantage__img--experience">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#adv-experience"></use>
          </svg>
        </div>
        <h3 class="advantage__title">Опыт 17 лет в сфере</h3>
        <div class="advantage__text">С 1999г. мы занимаемся сертификацией товаров и услуг, постоянно отслеживая изменения в законодательсте</div>
      </div>
    </div>
  </div>
</section>