<section class="branches" itemscope="itemscope" itemtype="http://schema.org/Service">
  <h1 class="branches__title">Сертификация по отраслям</h1>
  <div class="container">
    <div class="row">
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Пищевая продукция</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Косметика</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Алкоголь</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Бытовая химия</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Легкая промышленность</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Обувь</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Товары для детей</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Игрушки</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Мебель</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Световое оборудование</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Бытовая техника</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Промышленное оборудование</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Строительные материалы</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Автомобильная техника и запчасти</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Упаковка</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">Смазочные материалы и масла</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">СИЗ</span>
        </a>
      </div>
      <div class="branch col-xs-12 col-md-4 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <span class="branch__icon"></span>
          <span class="branch__name" itemprop="category">БАДы</span>
        </a>
      </div>
    </div>
  </div>
</section>