<section class="branches" itemscope="itemscope" itemtype="http://schema.org/Service">
  <div class="container">
    <h1 class="branches__title">Сертификация по отраслям</h1>
    <div class="row">
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-food"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Пищевая продукция</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-cosmetics"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Косметика</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-alcohol"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Алкоголь</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-cleaning"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Бытовая химия</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-light-industry"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Легкая промышленность</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-shoes"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Обувь</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-kids"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Товары для детей</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-toy"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Игрушки</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-furniture"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Мебель</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-light"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Световое оборудование</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-home-technics"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Бытовая техника</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-industrial-equipment"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Промышленное оборудование</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-construction"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Строительные материалы</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-auto"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Автомобильная техника и запчасти</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-wrapper"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Упаковка</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-oil"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">Смазочные материалы и масла</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-defence"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">СИЗ</div>
        </a>
      </div>
      <div class="branch col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <a class="branch__link" href="single-branch.html">
          <div class="branch__icon">
            <svg width="30" height="30">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#branch-bad"></use>
            </svg>
          </div>
          <div class="branch__name" itemprop="category">БАДы</div>
        </a>
      </div>
    </div>
  </div>
</section>