<section class="clients">
  <div class="container">
    <h2 class="clients__title">Наши клиенты</h2>
    <div class="clients__gallery">
      <div class="client-slide" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="client-slide__flex">
          <div class="client-slide__img">
            <img src="img/client1.png" alt="client1" title="client1" itemprop="image" />
          </div>
          <div class="client-slide__inner">
            <div class="client-slide__author" itemprop="author">Связьиндустрия</div>
            <div class="client-slide__services-title">Оказанные услуги</div>
            <div class="client-slide__services" itemprop="offers">
              <ul>
                <li>Сертификат соответствия</li>
                <li>Декларация о соответствии</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="client-slide" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="client-slide__flex">
          <div class="client-slide__img">
            <img src="img/client1.png" alt="client1" title="client1" itemprop="image" />
          </div>
          <div class="client-slide__inner">
            <div class="client-slide__author" itemprop="author">Связьиндустрия</div>
            <div class="client-slide__services-title">Оказанные услуги</div>
            <div class="client-slide__services" itemprop="offers">
              <ul>
                <li>Сертификат соответствия</li>
                <li>Декларация о соответствии</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="client-slide" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="client-slide__flex">
          <div class="client-slide__img">
            <img src="img/client1.png" alt="client1" title="client1" itemprop="image" />
          </div>
          <div class="client-slide__inner">
            <div class="client-slide__author" itemprop="author">Связьиндустрия</div>
            <div class="client-slide__services-title">Оказанные услуги</div>
            <div class="client-slide__services" itemprop="offers">
              <ul>
                <li>Сертификат соответствия</li>
                <li>Декларация о соответствии</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="client-slide" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="client-slide__flex">
          <div class="client-slide__img">
            <img src="img/client1.png" alt="client1" title="client1" itemprop="image" />
          </div>
          <div class="client-slide__inner">
            <div class="client-slide__author" itemprop="author">Связьиндустрия</div>
            <div class="client-slide__services-title">Оказанные услуги</div>
            <div class="client-slide__services" itemprop="offers">
              <ul>
                <li>Сертификат соответствия</li>
                <li>Декларация о соответствии</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="client-slide" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="client-slide__flex">
          <div class="client-slide__img">
            <img src="img/client1.png" alt="client1" title="client1" itemprop="image" />
          </div>
          <div class="client-slide__inner">
            <div class="client-slide__author" itemprop="author">Связьиндустрия</div>
            <div class="client-slide__services-title">Оказанные услуги</div>
            <div class="client-slide__services" itemprop="offers">
              <ul>
                <li>Сертификат соответствия</li>
                <li>Декларация о соответствии</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="client-slide" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="client-slide__flex">
          <div class="client-slide__img">
            <img src="img/client1.png" alt="client1" title="client1" itemprop="image" />
          </div>
          <div class="client-slide__inner">
            <div class="client-slide__author" itemprop="author">Связьиндустрия</div>
            <div class="client-slide__services-title">Оказанные услуги</div>
            <div class="client-slide__services" itemprop="offers">
              <ul>
                <li>Сертификат соответствия</li>
                <li>Декларация о соответствии</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>