<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <!-- Logo-->
        <a class="logo logo--footer" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
          <img src="img/logo.svg" alt="logo" title="logo" itemprop="logo" />
        </a>
      </div>
      <!-- Nav-->
      <nav class="nav-footer">
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-services.html">Услуги</a>
            <ul class="subnav-footer">
              <li class="subnav-footer__item">
                <a class="subnav-footer__link" href="page.html">Категория 1</a>
              </li>
              <li class="subnav-footer__item">
                <a class="subnav-footer__link" href="page.html">Категория 2</a>
              </li>
              <li class="subnav-footer__item">
                <a class="subnav-footer__link" href="page.html">Категория 3</a>
              </li>
            </ul>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-about.html">О компании</a>
            <ul class="subnav-footer">
              <li class="subnav-footer__item">
                <a class="subnav-footer__link" href="page-about.html#advantages">Преимущества</a>
              </li>
              <li class="subnav-footer__item">
                <a class="subnav-footer__link" href="page-about.html#reviews">Отзывы</a>
              </li>
            </ul>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-news.html">Новости</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-branches.html">Сертификация по отраслям</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-contacts.html">Контакты</a>
            <div class="contacts-footer" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
              <div class="contacts-footer__line">
                <a class="contacts-footer__link contacts-footer__link--tel" href="tel:+74956603066" target="_blank" itemprop="faxNumber">+7 (495) 660-30-66</a>
              </div>
              <div class="contacts-footer__line">
                <a class="contacts-footer__link contacts-footer__link--email" href="mailto:otdel@rostest.net" target="_blank" itemprop="email">otdel@rostest.net</a>
              </div>
              <div class="contacts-footer__line">
                <div class="contacts-footer__address" itemprop="areaServed">г.Москва, пер. Грохольский, д. 32, оф. 302</div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<div class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__form">
    <a class="modal__close" href="#"></a>
    <!-- Form application    -->
    <section class="form form--application">
      <form action="" method="">
        <h2 class="form__title">Узнать стоимость и сроки оформления</h2>
        <div class="form-group field-name">
          <input class="form__input" type="text" name="Имя" placeholder="Имя:" />
          <p class="help-block">Ошибка заполнения поля формы</p>
        </div>
        <div class="form-group field-tel required">
          <input class="form__input" type="tel" name="Телефон" placeholder="Телефон:" />
          <div class="form__description">Для оперативной связи с вами</div>
          <p class="help-block">Ошибка заполнения поля формы</p>
        </div>
        <div class="form-group field-email">
          <input class="form__input" type="email" name="Email" placeholder="Email:" />
          <div class="form__description">Для отправки таблиц с подробными расчетами</div>
          <p class="help-block">Ошибка заполнения поля формы</p>
        </div>
        <div class="form-group field-product">
          <textarea class="form__textarea" type="text" name="Ваш документ" placeholder="Ваш продукт"></textarea>
          <p class="help-block">Ошибка заполнения поля формы</p>
        </div>
        <div class="form-group">
          <button class="btn btn--form btn--application btn--blue" type="submit">Узнать стоимость</button>
          <p class="help-block help-block-success">Ваша заявка отправлена</p>
        </div>
      </form>
    </section>
  </div>
</div>