<section class="form form--application">
  <form action="" method="">
    <div class="form-group field-name">
      <input class="form__input" type="text" name="Имя" placeholder="Имя:" />
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group field-tel required">
      <input class="form__input" type="tel" name="Телефон" placeholder="Телефон:*" />
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group field-email">
      <input class="form__input" type="email" name="Email" placeholder="Email:" />
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group field-product">
      <textarea class="form__textarea" type="text" name="Ваш документ" placeholder="Ваш продукт"></textarea>
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group">
      <button class="btn btn--form btn--blue" type="submit">Узнать стоимость</button>
      <p class="help-block help-block-success">Ваша заявка отправлена</p>
    </div>
  </form>
</section>