<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <h1 class="news__title">Новости</h1>
        <h2 class="news__category">События</h2>
        <div class="news__articles">
          <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div class="news-item__img">
              <img src="img/news1.jpg" alt="news1" title="news1" itemprop="image" />
            </div>
            <div class="news-item__text">
              <div class="date">(itemprop="datePublished") 13.09.2016</div>
              <h3 class="news-item__title" itemprop="headline">Аккредитованные лаборатории и органы по сертификации </h3>
              <div class="news-item__excerpt" itemprop="articleSection">С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.</div>
              <a class="news-item__link" href="single-news.html"></a>
            </div>
          </article>
          <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div class="news-item__img">
              <img src="img/news1.jpg" alt="news1" title="news1" itemprop="image" />
            </div>
            <div class="news-item__text">
              <div class="date">(itemprop="datePublished") 13.09.2016</div>
              <h3 class="news-item__title" itemprop="headline">Аккредитованные лаборатории и органы по сертификации </h3>
              <div class="news-item__excerpt" itemprop="articleSection">С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.</div>
              <a class="news-item__link" href="single-news.html"></a>
            </div>
          </article>
          <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div class="news-item__img">
              <img src="img/news1.jpg" alt="news1" title="news1" itemprop="image" />
            </div>
            <div class="news-item__text">
              <div class="date">(itemprop="datePublished") 13.09.2016</div>
              <h3 class="news-item__title" itemprop="headline">Аккредитованные лаборатории и органы по сертификации </h3>
              <div class="news-item__excerpt" itemprop="articleSection">С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.</div>
              <a class="news-item__link" href="single-news.html"></a>
            </div>
          </article>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="news-categories">
          <h3 class="news-categories__title">Разделы новостей</h3>
          <ul class="news-categories__list">
            <li class="news-categories__item">События </li>
            <li class="news-categories__item">Праздники </li>
            <li class="news-categories__item">Нововведения </li>
            <li class="news-categories__item">События </li>
            <li class="news-categories__item">Праздники </li>
            <li class="news-categories__item">Все новости</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <section class="pagination">
          <a class="pagination__arrow pagination__arrow--prev" href="page-news.html"> </a>
          <a class="pagination__number pagination__number--current" href="page-news.html">1</a>
          <a class="pagination__number" href="page-news.html">2</a>
          <a class="pagination__number" href="page-news.html">3</a>
          <a class="pagination__arrow pagination__arrow--next" href="page-news.html"> </a>
        </section>
      </div>
    </div>
  </div>
</section>