<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-9">
        <h1 class="news__title">Новости</h1>
        <h2 class="news__category">События</h2>
        <div class="news__articles">
          <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="news-item__img">
                  <img src="img/news-page.jpg" alt="news-page" title="news-page" itemprop="image" />
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <div class="news-item__date" itemprop="datePublished">13.09.2016</div>
                <h3 class="news-item__title" itemprop="headline">Аккредитованные лаборатории и органы по сертификации </h3>
                <div class="news-item__excerpt" itemprop="articleSection">С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.</div>
                <a class="news-item__link" href="single-news.html">Читать далее</a>
              </div>
            </div>
          </article>
          <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="news-item__img">
                  <img src="img/news-page.jpg" alt="news-page" title="news-page" itemprop="image" />
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <div class="news-item__date" itemprop="datePublished">13.09.2016</div>
                <h3 class="news-item__title" itemprop="headline">Аккредитованные лаборатории и органы по сертификации </h3>
                <div class="news-item__excerpt" itemprop="articleSection">С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.</div>
                <a class="news-item__link" href="single-news.html">Читать далее</a>
              </div>
            </div>
          </article>
          <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="news-item__img">
                  <img src="img/news-page.jpg" alt="news-page" title="news-page" itemprop="image" />
                </div>
              </div>
              <div class="col-xs-12 col-md-8">
                <div class="news-item__date" itemprop="datePublished">13.09.2016</div>
                <h3 class="news-item__title" itemprop="headline">Аккредитованные лаборатории и органы по сертификации </h3>
                <div class="news-item__excerpt" itemprop="articleSection">С 1999 года сертификационный центр «Ростест» оказывает помощь в оформлении разнообразной разрешительной документации в области сертификации товаров и услуг по всей России.</div>
                <a class="news-item__link" href="single-news.html">Читать далее</a>
              </div>
            </div>
          </article>
        </div>
        <section class="pagination">
          <a class="pagination__arrow pagination__arrow--prev" href="page-news.html"> </a>
          <a class="pagination__number pagination__number--current" href="page-news.html">1</a>
          <a class="pagination__number" href="page-news.html">2</a>
          <span class="pagination__dots">...</span>
          <a class="pagination__number" href="page-news.html">10</a>
          <a class="pagination__arrow pagination__arrow--next" href="page-news.html"> </a>
        </section>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="news-categories">
          <h3 class="news-categories__title">Разделы новостей</h3>
          <ul class="news-categories__list">
            <li class="news-categories__item">
              <a class="news-categories__link" href="page-news.html">События</a>
            </li>
            <li class="news-categories__item">
              <a class="news-categories__link" href="page-news.html">Праздники</a>
            </li>
            <li class="news-categories__item">
              <a class="news-categories__link" href="page-news.html">Нововведения </a>
            </li>
            <li class="news-categories__item">
              <a class="news-categories__link" href="page-news.html">События </a>
            </li>
            <li class="news-categories__item">
              <a class="news-categories__link" href="page-news.html">Праздники</a>
            </li>
            <li class="news-categories__item">
              <a class="news-categories__link" href="page-news.html">Все новости</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>