<section class="news-section">
  <div class="container">
    <h2 class="news-section__title">Новости</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-xl-3">
        <article class="news-section-article">
          <div class="news-section-article__img">
            <img src="img/news1.jpg" alt="news1" title="news1" />
          </div>
          <div class="date">13.09.2016</div>
          <h3 class="news-section-article__title">
            <a class="news-section-article__link" href="single-news.html">Сертификат соответствия Декларация о соответствии</a>
          </h3>
        </article>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-3">
        <article class="news-section-article">
          <div class="news-section-article__img">
            <img src="img/news2.jpg" alt="news2" title="news2" itemprop="image" />
          </div>
          <div class="date">13.09.2016</div>
          <h3 class="news-section-article__title">
            <a class="news-section-article__link" href="single-news.html">В Перечень изделий, подлежащих сертификации согласно ТР ТС 008/2011</a>
          </h3>
        </article>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-3">
        <article class="news-section-article">
          <div class="news-section-article__img">
            <img src="img/news1.jpg" alt="news1" title="news1" />
          </div>
          <div class="date">13.09.2016</div>
          <h3 class="news-section-article__title">
            <a class="news-section-article__link" href="single-news.html">Сертификат соответствия Декларация о соответствии</a>
          </h3>
        </article>
      </div>
      <div class="col-xs-12 col-md-6 col-xl-3">
        <article class="news-section-article">
          <div class="news-section-article__img">
            <img src="img/news2.jpg" alt="news2" title="news2" itemprop="image" />
          </div>
          <div class="date">13.09.2016</div>
          <h3 class="news-section-article__title">
            <a class="news-section-article__link" href="single-news.html">В Перечень изделий, подлежащих сертификации согласно ТР ТС 008/2011</a>
          </h3>
        </article>
      </div>
    </div>
  </div>
</section>