<section class="questions">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="questions__title">Вопросы и ответы (h1)</h1>
        <div class="questions__articles">
          <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
            <h2 class="question__subtitle">
              <a href="single-question.html" itemprop="headline">Сертификация картонных конструкций (h2) </a>
            </h2>
            <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
              <div class="question__person">
                <div class="question__name" itemprop="author">Дарья </div>(Санкт-Петербург и Ленинградская область, 1 ноября 2016) </div>
              <div class="question__text" itemprop="citation">
                <p>Добрый день!</p>
                <p>Интересует следующий вопрос. Хотим с мужем открыть свой бизнес по изготовлению и продаже картонных конструкций для животных в связи с этим интересуюсь:</p>
                <ol>
                  <li>Какие требования предъявляются к изготовлению данного объекта?</li>
                  <li>Нужно ли согласовывать деятельность с Роспотребнадзором?</li>
                  <li>Какие сопроводительные документы необходимы для продажи объекта?</li>
                  <li>Стоимость Ваших услуг за организацию данных формальностей?</li>
                </ol>
              </div>
            </div>
            <a class="question__link" href="single-question.html">Читать ответ</a>
          </article>
          <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
            <h2 class="question__subtitle">
              <a href="single-question.html" itemprop="headline">Сертификация картонных конструкций (h2) </a>
            </h2>
            <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
              <div class="question__person">
                <div class="question__name" itemprop="author">Дарья </div>(Санкт-Петербург и Ленинградская область, 1 ноября 2016) </div>
              <div class="question__text" itemprop="citation">
                <p>Добрый день!</p>
                <p>Интересует следующий вопрос. Хотим с мужем открыть свой бизнес по изготовлению и продаже картонных конструкций для животных в связи с этим интересуюсь:</p>
                <ol>
                  <li>Какие требования предъявляются к изготовлению данного объекта?</li>
                  <li>Нужно ли согласовывать деятельность с Роспотребнадзором?</li>
                  <li>Какие сопроводительные документы необходимы для продажи объекта?</li>
                  <li>Стоимость Ваших услуг за организацию данных формальностей?</li>
                </ol>
              </div>
            </div>
            <a class="question__link" href="single-question.html">Читать ответ</a>
          </article>
          <article class="question" itemscope="itemscope" itemtype="http://schema.org/Article">
            <h2 class="question__subtitle">
              <a href="single-question.html" itemprop="headline">Сертификация картонных конструкций (h2) </a>
            </h2>
            <div class="question__ask" itemprop="articleSection" itemscope="itemscope" itemtype="http://schema.org/Question">
              <div class="question__person">
                <div class="question__name" itemprop="author">Дарья </div>(Санкт-Петербург и Ленинградская область, 1 ноября 2016) </div>
              <div class="question__text" itemprop="citation">
                <p>Добрый день!</p>
                <p>Интересует следующий вопрос. Хотим с мужем открыть свой бизнес по изготовлению и продаже картонных конструкций для животных в связи с этим интересуюсь:</p>
                <ol>
                  <li>Какие требования предъявляются к изготовлению данного объекта?</li>
                  <li>Нужно ли согласовывать деятельность с Роспотребнадзором?</li>
                  <li>Какие сопроводительные документы необходимы для продажи объекта?</li>
                  <li>Стоимость Ваших услуг за организацию данных формальностей?</li>
                </ol>
              </div>
            </div>
            <a class="question__link" href="single-question.html">Читать ответ</a>
          </article>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <section class="pagination">
          <a class="pagination__arrow pagination__arrow--prev" href="page-questions.html"> </a>
          <a class="pagination__number pagination__number--current" href="page-questions.html">1</a>
          <a class="pagination__number" href="page-questions.html">2</a>
          <a class="pagination__number" href="page-questions.html">3</a>
          <a class="pagination__arrow pagination__arrow--next" href="page-questions.html"> </a>
        </section>
      </div>
    </div>
  </div>
</section>