<section class="services" itemscope="itemscope" itemtype="http://schema.org/Service">
  <div class="container">
    <div class="services__search">
      <!-- Search-->
      <div class="search">
        <form class="search__form">
          <input class="search__input" type="text" name="Поиск" placeholder="Поиск по тегам" />
          <input class="search__button" type="submit" />
        </form>
      </div>
    </div>
    <div class="services__types">
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Подтверждение соответствия ТР ТС</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ТР ТС</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация ТР ТС</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Государственная регистрация:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о государственной регистрации</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Экспертное заключение </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Экспертное заключение о сроках годности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Система сертификации ГОСТ Р:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Обязательный сертификат соответствия</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация о соответствии </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Добровольный сертификат соответствия </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат на услуги в системе ГОСТ Р </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Разработка нормативно-технической документации</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка технических условий (ТУ) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Регистрация технических условий </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка стандарта организации (СТО) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Регистрация стандарта организации (СТО) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка паспорт безопасности вещества </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Регистрация паспорта безопасности вещества </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Паспорт безопасности MSDS </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Паспорт изделия </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Эксплуатационная документация (руководство по эксплуатации, паспорт изделия) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Технологическая инструкция/технологический регламент</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка рецптур (оформление в надлежащий вид)</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Программа производственного контроля </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Расчеты пищевой и энергетической ценности </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Обоснование безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Программа и методика приемочных испытаний</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Расчет на прочность </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка чертежей </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Отказные письма</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р/ТРТС </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">По пожарной безопасности </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">По санитарно-эпидемиологическим нормам (от Роспотребнадзора) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">От Росздравнадзора</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Департамента Растениеводства </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Россельхознадзора</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ВНИИС</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Экологические сертификаты</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат Organic</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат Natural </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат Eco </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат Bio</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат экологической безопасности </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат FSC</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Сертификация радиоэлектронных средств, высокочастотных устройств и шифровальных средств </a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Нотификация ФСБ</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Лицензия Минпромторга </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Заключение Радиочастотного центра (РЧЦ) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация Минсвзязи</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Зарубежные сертификаты </a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат СЕ</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат RoHS </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат RICH </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат IRIS </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат в системе УкрСепро </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат бережливого производства</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Сертификация транспортных средств </a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о безопасности конструкции транспортного средства (СБКТС) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Заключение об экологическом классе ТС </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Документы о переоборудовании/внесению изменений в конструкцию ТС </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация ТРТС </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ТРТС </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Система добровольной сертификации ЕАС:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ТР ТС</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация ТР ТС</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Пожарная сертификация:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат пожарной безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация пожарной безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Добровольный пожарный сертификат</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Санитарно-эпидемиологический надзор и фитосанитарный надзор</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о гос. регистрации (СГР) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Экспертное заключение </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Фитосанитарный сертификат </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Карантийный сертификат </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Сертификация систем менеджмента</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ISO 9001 </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ISO 14001 </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат OHSAS 18001 </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ISO 22000 (HACCP)</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ISO 20121:2012 </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат интегрированной системы менеджмента (ISO 9001, ISO 14001, OHSAS 18001) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка документации и внедрение систем менеджмента </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка документации и внедрение системы менеджмента безопасности пищевой продукции (НАССР) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат GMP - ГОСТ Р 52249-2009 Правила производства и контроля качества лекарственных средств </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р ИСО/МЭК 27001-2006 Информационная технология. </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Методы и средства обеспечения безопасности. Системы менеджмента информационной безопасности. Требования </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р ИСО/ ТУ 16949-2009 Системы менеджмента качества. </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Особые требования по применению ИСО 9001:2008 в автомобильной промышленности и организациях, производящих соответствующие запасные части.</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р 51814.1-2009</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р ИСО/ТУ 29001-2007 Менеджмент организации.</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Требования к системам менеджмента качества организаций, поставляющих продукцию и предоставляющих услуги в нефтяной, нефтехимической и газовой промышленности </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р ИСО 13485-2004 Изделия медицинские. Системы менеджмента качества. Системные требования для целей регулирования </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">TL 9000 Системы менеджмента качества в телекоммуникационной отрасли</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">BS EN 16001:2009 Энергетический менеджмент </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р ИСО 50001-2012 Системы энергетического менеджмента. </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Требования и руководство по применению ISO 28001:2007 Система менеджмента безопасности цепи поставок </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">SA 8000:2001: Социальная ответственность </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р 52614.2-2006 Системы менеджмента качества. </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Руководящие указания по применению ГОСТ Р ИСО 9001-2001 в сфере образования </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р 52614.4-2007 Руководящие указания по применению </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ Р ИСО 9001-2001 в органах местного самоуправления </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">ГОСТ РВ 15.002-2003 "Система разработки и постановки продукции на производство. Военная техника. Система менеджмента качества. Общие требования" </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon">
          <svg width="30" height="30">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
          </svg>
        </div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Прочие услуги</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка этикеток продукции </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Присвоение штрих-кодов </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Допуск СРО </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Экспертиза промышленной безопасности </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат промышленной безопасности </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификаты происхождения </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Озоновое заключение </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Заключение о спиртосодержании </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Заключение об отсутствии ГМО</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Регистрационное удостоверение Росздравнадзора </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Заключение о сроке годности пищевой продукции </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство об утверждении типа </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Поверка оборудования (весом до 5-7кг.) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Регистрация товарного знака</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>