<section class="services" itemscope="itemscope" itemtype="http://schema.org/Service">
  <div class="container">
    <div class="services__search">
      <!-- Search-->
      <div class="search">
        <form class="search__form">
          <input class="search__input" type="text" name="Поиск" placeholder="Поиск по тегам" />
          <input class="search__button" type="submit" />
        </form>
      </div>
    </div>
    <div class="services__types">
      <div class="services-type">
        <div class="services-type__icon services-type__icon--eac"></div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Подтверждение соответствия ТР ТС</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ТР ТС</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация ТР ТС</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon services-type__icon--rst"></div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Система сертификации ГОСТ Р:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Обязательный сертификат соответствия</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация о соответствии</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon services-type__icon--folders"></div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Техническая документация</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка технических условий (ТУ) </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Паспорт безопасности MSDS </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon services-type__icon--fire"></div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Пожарная сертификация:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат пожарной безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация пожарной безопасности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon services-type__icon--eagle"></div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Государственная регистрация:</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о государственной регистрации</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Экспертное заключение </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services-type">
        <div class="services-type__icon services-type__icon--iso"></div>
        <div class="services-type__text">
          <h3 class="services-type__title">
            <a class="services-type__title-link" href="single-service.html" itemprop="serviceType">Сертификация систем менеджмента</a>
          </h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ISO 9001 </a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат ISO 22000 (HACCP)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="services__btn">
      <a class="btn btn--more btn--blue" href="page-glossary.html">Все услуги</a>
    </div>
  </div>
</section>